.w-300 {
  width: 300px;
}

.h-75 {
  height: 75px;
}

.s-75 {
  width: 75px;
  height: 75px;
}

.s-150 {
  width: 150px;
  height: 75px;
}

.key-pad {
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
